.CoverageOfClients {
  padding-bottom: 45px;
  
  &__maps {
    height: 600px;
    margin-bottom: 45px;
    position: relative;
    @include breakpoint(underLaptop) {
      height: 500px;
    }

    img {
      width: 100%;
    }
  }

}