$logo-width: 229px;
$logo-height: 74px;
$nav-height: 120px;

header {
  background-color: $ecru-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header-overlay {
  @include breakpoint(maxtablet) {
    height: 0;
    background-color: transparent;
    &.open {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 1s ease-in-out;
      z-index: 4;
    }
  }
}

nav {
  @include breakpoint(laptop) {
    height: $nav-height;
  }
}

.navbar1 {
  @include breakpoint(maxtablet) {
    .container {
      padding: 0;
      max-width: 100%;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  &__left {
    text-align: left;
    position: relative;

    @include breakpoint(laptop) {
      float: left;
      width: $logo-width;
      height: $nav-height;
    }
    @include breakpoint(maxtablet) {
      border-bottom: 2px solid $marigold;
      padding: 25px;
    }
    @include breakpoint(mobileonly) {
      padding: 15px;
    }

    img {
      display: inline-block;
      object-fit: contain;
      width: 115px;
      @include breakpoint(laptop) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $logo-width;
        height: $logo-height;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__right {
    @include breakpoint(laptop) {
      display: inline-block;
      float: left;
      line-height: $nav-height;
      text-align: right;
      width: calc(100% - #{$logo-width});
    }
    @include breakpoint(maxtablet) {
      box-shadow: 0px 1px 2px $marigold;
      height: 0;
      opacity: 0;
      > ul {
        display: none;
      }
      &.open {
        height: auto;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        > ul {
          display: block;
        }
      }
    }

    ul {
      list-style-type: none;
      margin-bottom: 0;
      > li {
        @include breakpoint(laptop) {
          display: inline-block;
          margin: 0 30px;
          padding-left: 0;
        }

        &:last-child {
          border-bottom: none;
          @include breakpoint(laptop) {
            margin-right: 0;
          }
        }

        a {
          color: $blue-zodiac !important;
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          padding: 15px 0;
          text-align: left;

          @include breakpoint(laptop) {
            border-bottom: none;
            padding: 0;
          }

          @include breakpoint(maxtablet) {
            padding: 20px 25px;
            border-bottom: 1px solid $marigold;
            display: block;
            position: relative;
            &::after {
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              content: '\f054';
              color: $blue-zodiac !important;
              position: absolute;
              right: 25px;
              top: 50%;
              transform: translateY(-50%);
            }
            &.active {
              &::after {
                color: $marigold !important;
              }
            }
          }

          @include breakpoint(mobileonly) {
            padding: 15px 15px;
            &::after {
              right: 15px;
            }
          }

          &.active {
            color: $marigold !important;
          }

          &:hover {
            color: $marigold !important;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }
}
