@import './common/slick.scss';
@import './common/slick_theme.scss';
@import './common/fontface.scss';
@import './common/mixin.scss';
@import './common/color.scss';
@import './common/button.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-size: 24px;
  font-family: 'Roboto-Medium';
  @include breakpoint(underLaptop) {
    font-size: 20px;
  }
}

p, span, li, label, input {
  font-size: 16px;
  @include breakpoint(smallmobileonly) {
    font-size: 14px;
  }
}

.slick-initialized {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  li {
    button {
      &:before {
        color: $black1;
        font-size: 15px;
        opacity: 1;
      }
      &:hover:before {
        color: $black2;
      }
    }
    &.slick-active {
      button {
        &:before {
          color: $black2;
        }
      }
    }
  }
}

img {
  width: 100%;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(155,155,155, .25);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
  }
}

.form-error {
  color: red;
  font-family: 'Roboto-Medium';
  text-align: center;
  text-transform: capitalize;
}

@import './components/CustomModal.component.scss';
@import './containers/cmsLogin.scss';
@import './components/_layouts/cms.layout.scss';
@import './components/CmsUserList.component.scss';
