$sideDrawerPadding: 20px;
$drawerWidth: 250px;

.cmsDrawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $blue1;
  z-index: 110;
  
  &__btn {
    background: none;
    color: rgba(255,255,255,.75);
    padding: 5px 0;
    transition: color .2s ease-in;
    width: 100%;
    &.active {
      color: rgba(255,255,255,1);
    }
    @include breakpoint(underLaptop) {
      text-align: left;
    }
    &:hover {
      cursor: pointer;
      color: rgba(255,255,255,1);
    }

    &--logout {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      padding: 0;
    }

    i {
      font-size: 18px;
      padding: 0 $sideDrawerPadding;
      vertical-align: middle;
    }
    span {
      display: inline;
      font-size: 18px;
      vertical-align: middle;
    }
  }

  &__header {
    width: 100%;
    height: 60px;
    position: relative;
  }

  &__hamburger {
    background: none;

    i {
      color: rgba(255,255,255,.75);
      transition: color .2s ease-in;
      font-size: 25px;
      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }
}

.cmsDrawerMenuWrapper {
  position: absolute;
  top: 60px;
  bottom: 50px;
  width: 100%;
  left: 0;
  right: 0;
  overflow: scroll;
}

.layout-cms {
  h1, h2, h3 {
    font-size: 24px;
    font-family: 'Roboto-Medium';
    @include breakpoint(underLaptop) {
      font-size: 20px;
    }
  }

  p, span, li, label, input {
    font-size: 16px;
    font-family: 'Roboto';
    @include breakpoint(smallMobile) {
      font-size: 14px;
    }
  }

  @include breakpoint(underLaptop) {
    .cmsHeaderMobile {
      background-color: $blue1;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 105;

      &__hamburger {
        background: none;
        position: absolute;
        left: $sideDrawerPadding;
        top: 50%;
        transform: translateY(-50%);
    
        i {
          color: rgba(255,255,255,.75);
          transition: color .2s ease-in;
          font-size: 25px;
          &:hover {
            color: rgba(255,255,255,1);
          }
        }
      }
    }

    .cmsDrawer {
      left: -$drawerWidth;
      width: $drawerWidth;
      transition: left .2s ease-in;
      &__hamburger {
        display: none;
      }
    }

    &.drawer-open {
      .cmsDrawer {
        left: 0;
        transition: left .2s ease-in;
        &__hamburger {
          display: block;
          position: absolute;
          right: $sideDrawerPadding;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  @include breakpoint(minLaptop) {
    .cmsHeaderMobile {
      display: none;
    }

    .cmsDrawer {
      width: 50px;
      &__hamburger {
        position: absolute;
        right: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
  
      &__btn {
        i {
          padding: 0;
        }
        span {
          display: none;
        }
      }
    }
  
    .cms-wrapper {
      padding-left: 50px;
    }
  
    &.drawer-open {
      .cmsDrawer {
        width: $drawerWidth;
  
        &__hamburger {
          position: absolute;
          right: $sideDrawerPadding;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
        }
        
        &__btn {
          text-align: left;
  
          i {
            vertical-align: middle;
            padding: 0 $sideDrawerPadding;
          }
          span {
            display: inline;
          }
        }
      } 
  
      .cms-wrapper {
        padding-left: $drawerWidth;
      }
    }
  }
}

.cms-wrapper {
  @include breakpoint(underLaptop) {
    padding-top: 50px;
  }
}

.cms-container {
  position: relative;

  nav {
    padding-top: 20px;
  }

  .breadcrumb {
    li:only-child {
      a {
        font-family: 'Roboto-Medium';
      }
    }
  }
  
  .breadcrumb-item {
    a {
      font-family: 'Roboto-Medium';
    }
    &.active {
      a {
        cursor: default;
        font-family: 'Roboto';
        pointer-events: none;
      }
    }
  }

  @include breakpoint(minLaptop) {
    padding: 0 25px;

    h1 {
      padding: 25px 0;
      margin: 0;
    }
  }

  @include breakpoint(underLaptop) {
    padding: 0 15px;

    h1 {
      padding: 20px 0;
      margin: 0;
    }
  }
}

.snagbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: forestgreen;
  z-index: 105;
  text-align: center;
  display: none;
  &.show {
    display: block;
    animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
  }

  span {
    color: whitesmoke;
    display: inline-block;
    padding: 10px;
    text-transform: capitalize;
  }
}

@keyframes slide-down {
  0% { opacity: 0; transform: translateY(-100%); }   
100% { opacity: 1; transform: translateY(0); }
}
@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateY(-100%); }   
100% { opacity: 1; -moz-transform: translateY(0); }
}

.welcomeMessageWrapper {
  position: relative;

  .welcomeMessage {
    padding-top: 25px;
  }
}

.list-group-cms {
  &-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    &:last-child {
      border: 0;
    }
  }
}