.articleAndNews {
  background-image: url('/static/images/article-news-bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: -52px;
  background-position-x: center;
  @include breakpoint(underLaptop) {
    background-size: auto;
  }

  &__list {
    padding: 20px 0;
    margin: 0 -15px;

    li {
      display: inline-block;
      padding: 5px 15px;
      vertical-align: top;
      width: 33.3333%;

      @include breakpoint(underLaptop) {
        width: 100%;
      }
    }
  }

  .btn-blue.explore {
    display: block;
    margin: 0 auto 25px;
  }
}

.form-search {
  position: relative;

  #inputSearch {
    border-radius: 10px;
    border: solid 1px #28538f;
    background-color: #d3d6d8;
    color: #28538f;
    font-family: 'OpenSans';
    font-size: 25px;
    letter-spacing: -0.17px;
    height: 55px;
    padding: 0 25px;
    padding-right: 125px;
    
    @include breakpoint(underLaptop) {
      font-size: 14px;
      height: 45px;
      padding: 0 15px;
      padding-right: 65px;
    }
  
    &::placeholder {
      color: #28538f;
      font-family: 'OpenSans';
      font-size: 25px;
      letter-spacing: -0.17px;
    
      @include breakpoint(underLaptop) {
        font-size: 14px;
      }
    }
  }

  button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 10px 10px 0;
    background-color: #28538f;
    width: 100px;
    height: 100%;

    img {
      display: block;
      margin: auto;
      width: auto;
    }

    @include breakpoint(underLaptop) {
      width: 50px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}