.articleAndNewsDetail {
  padding: 45px 0;

  h1 {
    font-family: 'OpenSans';
    font-size: 32px;
    color: #444444;
    text-transform: capitalize;
    margin: 0;
  }

  .articleHeader {
    display: flex;
    margin: 20px -10px;

    > li {
      align-items: center;
      border-right: 1px solid #979797;
      display: flex;
      padding: 0 10px;
      text-align: left;
      vertical-align: top;

      &:last-child {
        border: 0;
      }
    }
  }

  .articleBody {
    font-family: 'OpenSans';
  }
}

.commentCount, .commentShare {
  color: #444444;
  font-family: 'OpenSans';
  font-size: 16px;
  text-align: center;
}

// articleShare
.articleShare {
  align-items: center;
  display: flex;
  margin-top: 20px;

  > p {
    display: block;
    margin: 0;
    margin-right: 10px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    line-height: 1.88;
    color: #2b2b2b;
  }

  > ul {
    display: flex;
    align-items: center;

    > li {
      margin-right: 10px;
    }
  }
}

// formComments
.formComments {
  box-shadow: 0 2px 11px 0 #e9e9e9;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  
  p {
    color: #444444;
    word-break: break-all;
  }

  &__list {
    margin: 20px 0;
  }

  textarea, input {
    border-radius: 2.2px;
    border: solid 0.6px rgba(208, 208, 208, 0.5);
    background-color: #d3d6d8;
    color: #444444;
    font-family: 'OpenSans';
    font-size: 16px;

    &:focus {
      background-color: #d3d6d8;
      border: solid 0.6px rgba(208, 208, 208, 0.5);
      box-shadow: none;
    }

    &::placeholder {
      color: #444444;
      font-family: 'OpenSans';
      font-size: 16px;
    }
  }

  textarea {
    height: 145px;
  }

  .btn-blue {
    margin-top: 15px;
  }
}

// recentPost
.recentPost {
  padding-top: 15px;
  
  .recentPost__title {
    font-family: 'OpenSans-SemiBold';
  }

  &__img {
    width: 95px;
    height: 95px;
    border-radius: 5px;
    @include object-fit(cover);
  }

  &__list {
    &-item {
      margin-bottom: 10px;
    }

    .articleTag {
      margin-bottom: 10px;
    }

    &-title {
      font-family: 'OpenSans';
      font-size: 16px;
      color: #444444;
    }
  }
}