.cmsLoginForm {
  h1 {
    font-size: 24px;
    margin: 40px 0;
    text-align: center;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: $blue1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }

  .onError {
    color: red;
    display: block;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
  }
}
