.aboutSolutionItem {
  padding-bottom: 40px;
  
  .container {
    position: relative;
    width: 960px;
    margin: auto;
  }

  img {
    width: 550px;
    margin: auto;
    padding: 150px 0;
    display: block;
  }

  .aboutSolutionItem__title {
    color: #28538f;
    font-family: 'OpenSans';
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: normal;
    padding-top: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 5px;
      background-color: $red1;
    }

    @include breakpoint(min992) {
      font-size: 30px;
    }
  }

  .aboutSolutionItem__desc {
    font-family: 'OpenSans';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.88;
    color: #444444;

    @include breakpoint(min992) {
      font-size: 14px;
    }
  }

  .aboutSolutionItem-1 {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 0px;
  }
  .aboutSolutionItem-2 {
    position: absolute;
    width: 300px;
    bottom: 0px;
    left: 200px;
  }
  .aboutSolutionItem-3 {
    position: absolute;
    width: 380px;
    top: 50px;
    right: 0px;
  }
  .aboutSolutionItem-4 {
    position: absolute;
    width: 200px;
    bottom: 0px;
    right: 0px;
  }
}