.btn {
  @include breakpoint(minLaptop) {
    font-size: 16px;
    span {
      font-size: 16px;
    }
  }
  @include breakpoint(underLaptop) {
    font-size: 14px;
    span {
      font-size: 14px;
    }
  }
}