$blue-zodiac: #123557;
$white: #ffffff;
$ebony-clay: #212b36;
$ecru-white: #f8f9f1;
$shark: #313233;
$alto: #dcd8d8;
$marigold: #b7802d;
$santa-fe: #b27946;
$hampton: #dfe6aa;
$medium-carmine: #a93838;
$cerulean-blue: #2745b4;
$san-felix: #0c651c;