@font-face {
  font-family: 'Helvetica';
  src: url('/static/fonts/Helvetica.woff2') format('woff2'),
      url('/static/fonts/Helvetica.woff') format('woff'),
      url('/static/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
